html {
    scroll-behavior: smooth;
}

.logo {
    align-items: center;
    max-width: 50%;
    max-height: 30px;
}

#btns {
    display: inline;
    padding-top: 12px;
}

#btns li {
    display: inline;
 
}




h1 {
    text-align: center;
    font-weight: 1000;
    color: #2e5f0e;
    font-size: x-large;
}
  

body {
    background-image: linear-gradient(#b78050, #7ea962
    );
}


.btn {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1em;
    color:hsl(from brown 1 2 3);
    background-color:#7ea962;
    border: 10px solid #4d3737;
    border-radius: 5px;
    transition: all 0.5s;

}

.btn:hover {
    transform: translateY(-10px);
    /* moves buttons when hovered over */
    background-color: #4d3737;
    color: #fef5d8;

}

@keyframes slideInLeft {
    from {
        transform: translateX(-300px);

    }

    to {
        transform: translateX(0);

    }
    /*gives keyframe to manipulate header */
}
    
.slideInLeft {
    animation: slideInLeft 1s ease-in .5s;
    /* slides from left to right */



        }

.wel {
    text-align: center;
    font-family: fantasy;
    font-weight: 1000;
    color: #4d3737;
    font-size: large;
}        


.container {
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;

}

.slider {
    display: flex;
    /* manipulate elements' alignment, spacing, and order */
    aspect-ratio: 16/9;
    overflow-x: auto;
    /* hide overflowing images */
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    /* adds a shadow  x offset y offset blur spread color */
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    /* set to =size for each image, retain width, initial size of 100% */
    scroll-snap-align: start;
    /* snap or start to each image in container */
    object-fit: cover;
    /* fixes distortion but takes out some of the image */

}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    /* give each picture spacing between each other */
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    /* left plus transform centers the nav */
    z-index: 1;
    /* ensure the nav sits on top of the slider instead of hidden */
}

.slider-nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #03ff2d;
    opacity: 0.75;
    /* makes it so the pictures comes throught the button slightly */
    transition: opacity ease 250ms;
    /* animation to ease and animation time */
}

.slider-nav a:hover {
    opacity: 1;
    /* when hovering changes the opacity of the button */

}