html {
    scroll-behavior: smooth;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#btns {
    display: flex;
    justify-content: center;

}

#btns li {
    display: flex;
    justify-content: center;
}

#video {
    margin-left: auto;
    margin-right: auto;
}




h1 {
    text-align: center;
    font-weight: 1000;
    color: #2e5f0e;
    font-size: x-large;
}
  

body {
    background-image: linear-gradient(#b78050, #7ea962
    );
}


.btn {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1em;
    color:hsl(from brown 1 2 3);
    background-color:#7ea962;
    border: 10px solid #4d3737;
    border-radius: 5px;
    transition: all 0.5s;

   /* transition-property: transform;
    defines which property the transition effect should be applied to 
    transition-duration: 0.5s;
    how long the transition effect should take to complete
    transition-timing-function: ;
    defines the acceleration curve-ease in ease out ease in out etc. 
    transition-delay: ;
    how long it takes for the transition to take effect. */

}

.btn:hover {
    transform: translateY(-10px);
    /* moves buttons when hovered over */
    background-color: #4d3737;
    color: #fef5d8;
    /* changes color when hovered over */

}

@keyframes slideInLeft {
    /* name of animation */
    from {
        transform: translateX(-300px);
        /* start 300px to the left */

    }

    to {
        transform: translateX(0);
        /* end in original position */

    }
    /*gives keyframe to manipulate header */
}
    
.slideInLeft {
    animation: slideInLeft 1s ease-in .5s;
    /* slides from left to right ease- in and take .5 seconds to complete*//*animation-name: slideInLeft;
    selecting key frame
    animation-duration: .5s;
    how long it takes for animation to take one lap default is 0s
    animation-timing-function: ease-in;
    animation curve default is ease
    animation-delay: ;
    delay before running default is 0s
    animation-iteration-count: ;
    how many times the animation will run default is 1
    animation-direction: ;
    run normal or in reverse. normal is default
    animation-fill-mode: ;
    what the animation will do after animation has run default is none*/


 }

.wel {
    text-align: center;
    font-family: cursive;
    font-weight: 1000;
    color: #4d3737;
    font-size: large;
}        


.container {
    padding: 3rem;
    padding-top: 5rem;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;

}

.slider {
    display: flex;
    /* manipulate elements' alignment, spacing, and order */
    aspect-ratio: 16/9;
    overflow-x: auto;
    /* hide overflowing images */
    scroll-snap-type: x mandatory;
    /* snap to next image along x axis */
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    /* adds a shadow  x offset y offset blur spread color */
    border-radius: 2rem;
}

.slider img {
    flex: 1 0 100%;
    /* set to =size for each image, retain width, initial size of 100% */
    scroll-snap-align: start;
    /* snap or start to each image in container */
    object-fit: cover;
    /* fixes distortion but takes out some of the image */

}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    /* give each picture spacing between each other */
    position: relative;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    /* left plus transform centers the nav */
    z-index: 1;
    /* ensure the nav sits on top of the slider instead of hidden */
}

.slider-nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #03ff2d;
    opacity: 0.75;
    /* makes it so the pictures comes throught the button slightly */
    transition: opacity ease 250ms;
    /* animation to ease and animation time */
}

.slider-nav a:hover {
    opacity: 1;
    /* when hovering changes the opacity of the button */

}

#About-Me {
    font-size: medium;
    font-family: sans-serif;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

#gordon {
    color: #4d3737;
}

#photos {
    font-size: medium;
    font-family: sans-serif;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

#recipes {
    font-size: medium;
    font-family: sans-serif;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}